body { 
    background-image: url("./kieran-white-SBdmQcW8qag-unsplash\ \(1\).jpg"); 
    background-size: cover;   
    color: white;
} 

.top-bar li { 
    display: inline-block;  
    margin-right: 60px;
} 

.top-bar { 
    text-align: center; 
    font-family: cursive; 
} 

.line { 
    opacity: 40%; 
    margin-left: 20px; 
    margin-right: 20px;
} 

.top-bar li:hover { 
    text-shadow: 0 0 20px #fff, 0 0 30px #f8f8f8;
}  

.comp { 
    margin-left: -25px; 
    text-decoration: none; 
    list-style: none; 
    
} 

.comp li { 
    padding: 2px;
} 

.side-bar {  
    margin-left: 10px; 
    margin-top: 5px;
    height: 210px; 
    width: 200px;
    background-color: rgba(0, 0, 0, 0.456);  
    border-radius: 10px;  
    text-decoration: underline  rgba(0, 153, 255, 0.323); 
} 

.catg { 
    margin-left: 20px; 
    margin-bottom: -10px;
}  

.side-bar { 
    font-family: cursive;
}

.news { 
    margin-left: 60px; 
    margin-bottom: -10px;
    font-family: cursive; 
    text-decoration: underline rgba(89, 180, 255, 0.303);
} 

.chrtree { 
    margin-left: 460px; 
    margin-top: -350px; 
    border-radius: 50px;  
}  

.tvct { 
    margin-top: -100px; 
    margin-left: 730px; 
    font-family: cursive;
}
 
.lc { 
    margin-top: -30px; 
    margin-left: 100px; 
    opacity: 70%; 
 } 

 